* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.calculator-wrapper {
  border-radius: 5%;
  outline: none;
  max-width: max-content;
  height: fit-content;
  border: 1px solid rgb(7, 22, 66);
  margin: 10px auto;
  background-color: rgb(33, 45, 56);
  box-shadow: 3px 2px 22px 0px rgba(255, 90, 119, 1);
}
.calculator-wrapper .calculator-title {
  color: rgb(137, 245, 13);
  text-align: center;
}
.calculator-content {
  width: 250px;
  max-height: 400px;
  margin: 5px auto;
  overflow: auto;
  padding: 2px;
}

.calculator-content .result-area {
  max-width: 210px;
  height: 40px;
  overflow: auto;
  border-radius: 5%;
  margin: 0px auto;
  border: 2px solid rgb(37, 221, 129);
  color: rgb(0, 0, 0);
  background-color: #fff;
}
/* .history {
  height: 30px;
  overflow: auto;
  font-size: 10px;
} */
.result-area .result {
  float: right;
  font-size: 14px;
  margin: auto auto;
}

.keys-area {
  width: max-content;
  display: grid;
  grid-template-columns: auto auto auto auto;
  text-decoration: none;
  margin: 2px auto;
  padding: 2px;
}

.keys-area button {
  width: 40px;
  height: 40px;
  padding: 2px;
  font-size: 20px;
  margin: 4px 5px;
  border: none;
  outline: none;
  border-radius: 50%;
  text-decoration: none;
}
.btn:nth-child(n) {
  background-color: aliceblue;
  text-align: center;
  font-family: fantasy;
}
.btn:nth-child(n):hover {
  font-size: 25px;
  margin: auto auto;
}

.btn:nth-child(4) {
  color: white;
  background-color: rgb(199, 85, 20);
}

.btn:nth-child(8) {
  color: white;
  background-color: rgb(22, 137, 42);
}
.btn:nth-child(12) {
  color: white;
  background-color: rgb(160, 9, 157);
}

.btn:nth-child(16) {
  color: white;
  background-color: rgb(7, 126, 126);
}

.btn:nth-child(15) {
  color: white;
  background-color: rgb(251, 0, 0);
}

.btn:nth-child(18) {
  color: white;
  background-color: rgb(15, 24, 144);
}
.btn:nth-child(20) {
  color: white;
  background-color: rgb(206, 3, 241);
}

.history {
  justify-content: right;
}
